#2. JupyterR/data/
#2. JupyterR/data/example_2015_expenditure.csv
#2. JupyterR/data/example_2015_expenditure_원본대로.csv
#2. JupyterR/data/example_apt.csv
#2. JupyterR/data/example_cancer.csv
#2. JupyterR/data/example_coffee.csv
#2. JupyterR/data/example_gamedata.csv
#2. JupyterR/data/example_kbo2015.csv
#2. JupyterR/data/example_kbo2015_player.csv
#2. JupyterR/data/example_kbo2015_team.csv
#2. JupyterR/data/example_population.csv
#2. JupyterR/data/example_population2.csv
#2. JupyterR/data/example_population_f.csv
#2. JupyterR/data/example_realty.csv
#2. JupyterR/data/example_residuals_checking.csv
#2. JupyterR/data/example_salary.csv
#2. JupyterR/data/example_sewing.csv
#2. JupyterR/data/example_studentlist.csv
#2. JupyterR/data/example_studentlist2.csv
#2. JupyterR/data/example_studentlist2_utf.csv
#2. JupyterR/data/example_test_statistic_ex1_sample.csv
#2. JupyterR/data/example_test_statistic_ex2_population.csv
#2. JupyterR/data/example_test_statistic_ex2_sample.csv
#2. JupyterR/data/example_ts.csv
#2. JupyterR/data/example_ts2.csv
#2. JupyterR/data/example_ts3.csv
#2. JupyterR/data/omit.csv
#2. JupyterR/data/score.sav
#2. JupyterR/data/score.xml
#2. JupyterR/data/studentlist.txt
#2. JupyterR/data/studentlist.xlsx
#2. JupyterR/data/studentlist2.txt
#1. Python/Python Basic/pandas/loan.csv
.Rproj.user
KMU/Second Semester/Hadoop/BIGDATA/
JupyterR/BigBioR/
KMU/Second Semester/DataMining/1001/HDepartmentStore(TSV).zip
KMU/Second Semester/DataMining/1001/H(TSV)/
KMU/Second Semester/DataMining/1001/.RData
KMU/Second Semester/DataMining/1001/cust_sig.csv
KMU/Second Semester/DataMining/1001/custfig.csv
KMU/Second Semester/DataMining/1001/cust_fig.xlsx
KMU/Second Semester/DataMining/1001_ Data Munging2/H(TSV)/
KMU/Second Semester/DataMining/1001_ Data Munging2/HDepartmentStore(TSV).zip
KMU/Second Semester/DataMining/1001_ Data Munging2/.RData
Python/Python Basic/pandas/loan.csv
Python/Python Basic/pandas/loan2.csv
KMU/Second Semester/DataMining/1022_Decision Tree_2/2_group.csv
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDS_Cards.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDS_Jobs.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Cards.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Jobs.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Transactions_MG.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0001.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0002.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0003.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0004.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0005.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0006.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0007.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0008.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0009.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0010.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0011.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0012.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0013.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0014.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0015.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0016.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0017.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0018.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0019.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0020.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0021.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0022.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0023.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0024.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0025.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0026.jpg
Python/Python Basic/Flearning/pandas/loan.csv
Python/Python Basic/Flearning/pandas/loan2.csv
Machine Learning/ml-gh-pages/
data-science-gh-pages/data-science-gh-pages/
Machine Learning/AI/
Machine Learning/Machine Learning with R/
_ForGuest
data-science-gh-pages/
KMU/Second Semester/Statistics/1217_Statistics Final_Project/CRCD_DATA_20161119.xlsx
pydata-book-master/
PROJECT/
TMP/1217_Final_Project(QVC Analytics Challenge)/
KMU/Second Semester/Statistics/1217_Statistics Final_Project/final.csv
TMP/1217_Final_Project(QVC Analytics Challenge).zip
KMU/First Semester/R/0430/.RData
KMU/First Semester/R/0507/Q1_16_2016_washington_bike.RData
KMU/First Semester/R/0430/membershipbiketime.RData
KMU/First Semester/R/0507/.RData
KMU/First Semester/R/0430/Q1_16_2016_washington_bike.RData
KMU/First Semester/R/0430/member_registered
KMU/First Semester/R/0521/.RData
Python/Utilites/pdftocsv/1.pdf
Python/Utilites/pdftocsv/2.pdf
Python/Utilites/pdftocsv/3.pdf
KMU/Second Semester/Statistics/1217_Statistics Final_Project/다변량 기말준비2.csv
Recommon/.RData
Python/#01. Python for Data Anlaysis/ch09/P00000001-ALL.csv
#Portfolio/4. Dementia/Data/다변량 기말준비2.csv
1.Portfolio/4. Dementia/Data/다변량 기말준비2.csv
4. Machine Learning/AI/
4. Machine Learning/Machine Learning with R/
2. Python/#00. Python Basic/Flearning/numpy/ratings.dat
*.RData
*.Rhistory
3. Python/#00. Python Basic/Flearning/numpy/ratings.dat
3. Python/#01. Python for Data Anlaysis/ch09/P00000001-ALL.csv
1. Portfolio/4. Dementia/Data/NP_test.csv
pro/
CAU_Python-master/
8. Kaggle/8. Uber Pickups in New York City/data/
5. Machine Learning/DeepLearningfromScratch/mnist.pkl
5. Machine Learning/DeepLearningfromScratch/t10k-images-idx3-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/t10k-labels-idx1-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/train-images-idx3-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/train-labels-idx1-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/__pycache__/dataset.cpython-35.pyc
4. KMU/Third Semester/01. Data Visualization/projects/channel.csv
4. KMU/Third Semester/01. Data Visualization/projects/competition.csv
4. KMU/Third Semester/01. Data Visualization/projects/customer.csv
4. KMU/Third Semester/01. Data Visualization/projects/membership.csv
4. KMU/Third Semester/01. Data Visualization/projects/order.csv
4. KMU/Third Semester/01. Data Visualization/projects/product.csv
4. KMU/Third Semester/01. Data Visualization/projects/store_code.csv
metastore_db/
4. KMU/Third Semester/01. Data Visualization/projects/2. TR.csv
4. KMU/Third Semester/01. Data Visualization/projects/2015order.csv
4. KMU/Third Semester/01. Data Visualization/projects/competition.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/customer.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/one_house.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/order.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/orders.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/product.xlsx
4. KMU/Third Semester/01. Data Visualization/projects/data/One_house.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/channel.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/competition.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/customer.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/membership.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/order.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/visualization.csv
derby.log
4. KMU/Third Semester/01. Data Visualization/projects/order_seoul.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/order_seoul.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/product.csv
4. KMU/Third Semester/01. Data Visualization/projects/data/store_code.csv
access_log_sample
8. Kaggle/10. Homicide_USA_1980_2014/data/database.csv
8. Kaggle/10. Homicide Report(1980-2014)/data/database.csv
VS14MORT.txt.gz
3. Python/05. Python for Data Anlaysis/ch09/P00000001-ALL.csv
5. Machine Learning/DeepLearningfromScratch/dataset/t10k-images-idx3-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/dataset/t10k-labels-idx1-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/dataset/train-images-idx3-ubyte.gz
5. Machine Learning/DeepLearningfromScratch/dataset/train-labels-idx1-ubyte.gz
4. KMU/Third Semester/01. Data Visualization/Tableau/projects/data/order.csv
4. KMU/Third Semester/01. Data Visualization/Tableau/projects/data/order_seoul.csv
4. KMU/Third Semester/01. Data Visualization/Tableau/projects/data/
