#2. JupyterR/data/
#2. JupyterR/data/example_2015_expenditure.csv
#2. JupyterR/data/example_2015_expenditure_원본대로.csv
#2. JupyterR/data/example_apt.csv
#2. JupyterR/data/example_cancer.csv
#2. JupyterR/data/example_coffee.csv
#2. JupyterR/data/example_gamedata.csv
#2. JupyterR/data/example_kbo2015.csv
#2. JupyterR/data/example_kbo2015_player.csv
#2. JupyterR/data/example_kbo2015_team.csv
#2. JupyterR/data/example_population.csv
#2. JupyterR/data/example_population2.csv
#2. JupyterR/data/example_population_f.csv
#2. JupyterR/data/example_realty.csv
#2. JupyterR/data/example_residuals_checking.csv
#2. JupyterR/data/example_salary.csv
#2. JupyterR/data/example_sewing.csv
#2. JupyterR/data/example_studentlist.csv
#2. JupyterR/data/example_studentlist2.csv
#2. JupyterR/data/example_studentlist2_utf.csv
#2. JupyterR/data/example_test_statistic_ex1_sample.csv
#2. JupyterR/data/example_test_statistic_ex2_population.csv
#2. JupyterR/data/example_test_statistic_ex2_sample.csv
#2. JupyterR/data/example_ts.csv
#2. JupyterR/data/example_ts2.csv
#2. JupyterR/data/example_ts3.csv
#2. JupyterR/data/omit.csv
#2. JupyterR/data/score.sav
#2. JupyterR/data/score.xml
#2. JupyterR/data/studentlist.txt
#2. JupyterR/data/studentlist.xlsx
#2. JupyterR/data/studentlist2.txt
data/
#1. Python/Python Basic/pandas/loan.csv
.Rproj.user
KMU/Second Semester/Hadoop/BIGDATA/
JupyterR/BigBioR/
