#2. JupyterR/data/
#2. JupyterR/data/example_2015_expenditure.csv
#2. JupyterR/data/example_2015_expenditure_원본대로.csv
#2. JupyterR/data/example_apt.csv
#2. JupyterR/data/example_cancer.csv
#2. JupyterR/data/example_coffee.csv
#2. JupyterR/data/example_gamedata.csv
#2. JupyterR/data/example_kbo2015.csv
#2. JupyterR/data/example_kbo2015_player.csv
#2. JupyterR/data/example_kbo2015_team.csv
#2. JupyterR/data/example_population.csv
#2. JupyterR/data/example_population2.csv
#2. JupyterR/data/example_population_f.csv
#2. JupyterR/data/example_realty.csv
#2. JupyterR/data/example_residuals_checking.csv
#2. JupyterR/data/example_salary.csv
#2. JupyterR/data/example_sewing.csv
#2. JupyterR/data/example_studentlist.csv
#2. JupyterR/data/example_studentlist2.csv
#2. JupyterR/data/example_studentlist2_utf.csv
#2. JupyterR/data/example_test_statistic_ex1_sample.csv
#2. JupyterR/data/example_test_statistic_ex2_population.csv
#2. JupyterR/data/example_test_statistic_ex2_sample.csv
#2. JupyterR/data/example_ts.csv
#2. JupyterR/data/example_ts2.csv
#2. JupyterR/data/example_ts3.csv
#2. JupyterR/data/omit.csv
#2. JupyterR/data/score.sav
#2. JupyterR/data/score.xml
#2. JupyterR/data/studentlist.txt
#2. JupyterR/data/studentlist.xlsx
#2. JupyterR/data/studentlist2.txt
data/
#1. Python/Python Basic/pandas/loan.csv
.Rproj.user
KMU/Second Semester/Hadoop/BIGDATA/
JupyterR/BigBioR/
KMU/Second Semester/DataMining/1001/HDepartmentStore(TSV).zip
KMU/Second Semester/DataMining/1001/H(TSV)/
KMU/Second Semester/DataMining/1001/.RData
KMU/Second Semester/DataMining/1001/cust_sig.csv
KMU/Second Semester/DataMining/1001/custfig.csv
KMU/Second Semester/DataMining/1001/cust_fig.xlsx
KMU/Second Semester/DataMining/1001_ Data Munging2/H(TSV)/
KMU/Second Semester/DataMining/1001_ Data Munging2/HDepartmentStore(TSV).zip
KMU/Second Semester/DataMining/1001_ Data Munging2/.RData
Python/Python Basic/pandas/loan.csv
Python/Python Basic/pandas/loan2.csv
KMU/Second Semester/DataMining/1022_Decision Tree_2/2_group.csv
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDS_Cards.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDS_Jobs.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Cards.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Jobs.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/HDS_Transactions_MG.tab
KMU/Second Semester/DataMining/1022_Decision Tree_2/HDept/
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0001.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0002.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0003.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0004.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0005.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0006.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0007.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0008.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0009.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0010.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0011.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0012.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0013.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0014.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0015.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0016.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0017.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0018.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0019.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0020.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0021.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0022.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0023.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0024.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0025.jpg
KMU/Second Semester/DataMining/1029_1105_Neural Network/photo/0026.jpg
Python/Python Basic/Flearning/pandas/loan.csv
Python/Python Basic/Flearning/pandas/loan2.csv
